# Apple M1 Arm64
# Python 3.11.4

pyarrow~=12.0.1 # to work with parquet files
fastparquet~=2023.7.0 # to work with parquet files
pandas~=2.0.3
persiantools~=3.0.1
requests~=2.31.0
githubdata~=12.3.1
mirutil~=22.1.0
namespace_mahdimir==2.1.0
