# Apple M1 Arm64
# Python 3.11.4

pandas~=2.0.3
pyarrow~=12.0.1 # to work with parquet files
fastparquet~=2023.7.0 # to work with parquet files
persiantools~=3.0.1
requests~=2.31.0
githubdata~=12.1.1
mirutil~=21.5.1
namespace_mahdimir~=0.1.0
